<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./partials/head'); %>
  <body>
    <%- include('./partials/header'); %>
    <main class="px-80 flex flex-col items-center justify-items-center gap-6">
      <!-- Blog Post Section: Left Aligned With Extras -->
      <div class="bg-white">
        <div class="space-y-16 lg:px-8 lg:py-32">
          <!-- Heading -->
          <div>
            <div
              class="
                text-sm
                uppercase
                font-bold
                tracking-wider
                mb-1
                text-purple-700
              "
            >
              Development
            </div>
            <h2 class="text-3xl md:text-4xl font-extrabold mb-4">
              How to code like a pro
            </h2>
            <h3
              class="
                text-lg
                md:text-xl md:leading-relaxed
                font-medium
                text-gray-600
              "
            >
              <a
                href="javascript:void(0)"
                class="text-purple-600 hover:text-purple-400"
                >Michael Smith</a
              >
              on <span class="font-semibold">March 10, 2021</span> · 5 min read
            </h3>
          </div>
          <!-- END Heading -->

          <!-- Blog Post -->
          <article class="prose prose-purple prose-lg">
            <img
              src="/uploads/<%=post.featured_img%>"
              alt="<%=post.title%>"
              class="rounded mb-5 p-5"
            />
            <p><%=post.content%></p>
          </article>
          <!-- END Blog Post -->
        </div>
      </div>
      <!-- END Blog Post Section: Left Aligned With Extras -->
    </main>
    <aside>
      <!-- Comments Section: Simple -->
      <div class="bg-white">
        <div class="container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
          <div class="max-w-3xl mx-auto space-y-4 lg:space-y-8">
            <!-- Post Comment Form -->
            <form action="/comment/<%post.id%>" class="space-y-6">
              <div>
                <div class="text-right text-sm mb-1">
                  Posting as <span class="font-medium">John Doe</span>,
                  <a
                    href="javascript:void(0)"
                    class="text-purple-600 hover:text-purple-400"
                    >not you?</a
                  >
                </div>
                <textarea
                  class="
                    block
                    border border-gray-200
                    rounded
                    placeholder-gray-400
                    px-3
                    py-2
                    w-full
                    focus:border-purple-500
                    focus:ring
                    focus:ring-purple-500
                    focus:ring-opacity-50
                  "
                  id="tk-comment"
                  rows="4"
                  placeholder="Join the conversation.."
                ></textarea>
              </div>
              <button
                type="button"
                class="
                  inline-flex
                  justify-center
                  items-center
                  space-x-2
                  border
                  font-semibold
                  focus:outline-none
                  px-3
                  py-2
                  leading-6
                  rounded
                  border-purple-700
                  bg-purple-700
                  text-white
                  hover:text-white hover:bg-purple-800 hover:border-purple-800
                  focus:ring focus:ring-purple-500 focus:ring-opacity-50
                  active:bg-purple-700 active:border-purple-700
                "
              >
                <svg
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  class="hi-solid hi-pencil inline-block w-5 h-5"
                >
                  <path
                    d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                  ></path>
                </svg>
                <span>Post Comment</span>
              </button>
            </form>
            <!-- END Post Comment Form -->

            <hr />

            <!-- Comment Box -->
            <%post.comments.forEach(comment=>{%>

            <div class="flex space-x-4 bg-gray-100 p-5 rounded-lg">
              <img
                src="/uploads/<%=comment.user.avatar%>"
                alt="<%=comment.user.username%> Avatar "
                title="<%=comment.user.username%> Avatar "
                class="
                  flex-none
                  inline-block
                  w-10
                  h-10
                  sm:w-16 sm:h-16
                  rounded-full
                "
              />
              <div class="flex-grow">
                <p class="text-sm sm:text-base leading-relaxed mb-1">
                  <a
                    href="javascript:void(0)"
                    class="font-semibold text-purple-600 hover:text-purple-400"
                  >
                    <%=comment.user.username%>
                  </a>
                  <%=comment.comment%>
                </p>
                <!-- <div class="text-sm space-x-2">
                  <a
                    href="javascript:void(0)"
                    class="text-gray-600 hover:text-gray-500"
                  >
                    Like
                  </a>
                  <a
                    href="javascript:void(0)"
                    class="text-gray-600 hover:text-gray-500"
                  >
                    Reply
                  </a>
                  <span class="text-gray-600">4h</span>
                </div> -->
              </div>
            </div>
            <%})%>
            <!-- END Comment -->
          </div>
        </div>
      </div>
      <!-- END Comments Section: Simple -->
    </aside>
  </body>
</html>
