<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./partials/head'); %>
  <body class="bg-purple-900">
    <%- include('./partials/header'); %>

    <main
      class="
        flex flex-col
        gap-6
        place-items-center
        px-36
        py-10
        space-x-4
        items-center
        justify-items-center
      "
    >
      <form
      action="/admin/post/<%=post.id%>?_method=PUT"
      method="POST"
        class="
          space-y-8
          divide-y divide-gray-200
          bg-purple-200
          p-28
          rounded-3xl min-w-full	
        "
      >
<div>
  <label for="title" class="sr-only">Titulo</label>
  <input type="text" name="title" id="title" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full text-2xl	font-bold	 border-gray-300 rounded-2xl outline-none	p-2	" value="<%=post.title%>"placeholder="Titulo">
</div>
<div>
  <label for="content" class="sr-only">Conteúdo</label>
  <textarea rows="20"name="content" id="content" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full text-sm border-gray-300 rounded-2xl outline-none	p-10"><%=post.content%></textarea>
</div>

      <div class="grid grid-cols-2 gap-4">
        <div class="col-span-1">
          <label for="location" class="block text-sm font-medium text-gray-700"></label>
            Categoria
          </label>
          <select
            id="category_id"
            name="category_id"
            class="
              mt-1
              block
              w-full
              pl-3
              pr-10
              py-2
              text-base
              border-gray-300
              focus:outline-none focus:ring-indigo-500 focus:border-indigo-500
              sm:text-sm
              rounded-md
            "
          >
          <option selected value="<%=post.category_id%>"><%=post.category.name%></option>
            <% categories.forEach(category=>{%>
              <option value="<%=category.id%>"><%=category.name%></option>
            <%})%>
          </select>
           <p class="mt-2 text-sm text-gray-500" id="email-description">Atual: <span class="font-bold"></span><%=post.category.name%>  </p>

        </div>
        <div class="col-span-1">
          <label for="user_id" class="block text-sm font-medium text-gray-700"></label>
            Usuário
          </label>
          <select
            id="user_id"
            name="user_id"
            class="
              mt-1
              block
              w-full
              pl-3
              pr-10
              py-2
              text-base
              border-gray-300
              focus:outline-none focus:ring-indigo-500 focus:border-indigo-500
              sm:text-sm
              rounded-md
            "
          > <option selected value="<%=post.user_id%>"><%=post.user.username%></option>
            <%users.forEach(user=>{%>
              <option value="<%=user.id%>"><%=user.username%></option>
            <%})%>
         
          </select>
          <p class="mt-2 text-sm text-gray-500" id="email-description">Atual: <span class="font-bold"></span> <%=post.user.username%> </p>
        </div>
        </div>
        <div class="pt-5">
          <div class="flex justify-end">
            <a
              href="/admin/post"
              class="
                bg-white
                py-2
                px-4
                border border-gray-300
                rounded-md
                shadow-sm
                text-sm
                font-medium
                text-gray-700
                hover:bg-gray-50
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500
              "
            >
              Cancelar
            </a>
            <button
              type="submit"
              class="
                ml-3
                inline-flex
                justify-center
                py-2
                px-4
                border border-transparent
                shadow-sm
                text-sm
                font-medium
                rounded-md
                text-white
                bg-indigo-600
                hover:bg-indigo-700
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500
              "
            >
              Salvar
            </button>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
