<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./partials/head'); %>
  <body class="bg-purple-900">
    <%- include('./partials/header'); %>
    <main
      class="
        flex flex-col
        gap-6
        place-items-center
        px-36
        py-10
        space-x-4
        items-center
        justify-items-center
      "
    >
      <a
        href="/admin/post/"
        class="
          inline-flex
          items-center
          px-6
          py-3
          border border-transparent
          shadow-sm
          text-base
          font-medium
          rounded-md
          text-white
          bg-purple-600
          hover:bg-purple-700
          focus:outline-none
          focus:ring-2
          focus:ring-offset-2
          focus:ring-purple-500
        "
      >
        Voltar
      </a>
      <div
        class="
          bg-purple-200
          p-28
          rounded-3xl
          shadow
          overflow-hidden
          sm:rounded-lg
        "
      >
        <div class="px-4 py-5 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            <%= post.title%>
          </h3>
        </div>
        <div class="px-4 py-5 sm:px-6">
          <img src="/uploads/<%=post.featured_img%>" />
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
          <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-4">
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">Autor</dt>
              <dd class="mt-1 text-sm text-gray-900">
                <%= post.user.username%>
              </dd>
            </div>

            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">Categoria</dt>
              <dd class="mt-1 text-sm text-gray-900">
                <%= post.category.name%>
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">Criado em</dt>
              <dd class="mt-1 text-sm text-gray-900"><%= post.updatedAt%></dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">Atualizado e</dt>
              <dd class="mt-1 text-sm text-gray-900"><%= post.updatedAt%></dd>
            </div>
            <div class="sm:col-span-4"><%= post.content %></div>
          </dl>
        </div>
      </div>

      <div class="p-10 flex space-x-4 items-center justify-items-center">
        <a
          href="/admin/post/<%=post.id%>/editar"
          class="
            inline-flex
            items-center
            px-6
            py-3
            border border-transparent
            shadow-sm
            text-base
            font-medium
            rounded-md
            text-white
            bg-purple-600
            hover:bg-purple-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-purple-500
          "
        >
          <!-- Heroicon name: solid/mail -->

          Editar
        </a>

        <a
          href="/admin/post/<%=post.id%>/deletar"
          class="
            inline-flex
            items-center
            px-6
            py-3
            border border-transparent
            shadow-sm
            text-base
            font-medium
            rounded-md
            text-purple-600
            bg-purple-200
            hover:bg-purple-400 hover:text-purple-100
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-purple-500
          "
        >
          <!-- Heroicon name: solid/mail -->

          Excluir
        </a>
      </div>
    </main>
  </body>
</html>
